body {
    background: #151819; 
}

/* Menu*/

.caixa {
    background: #151819;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 24px;
}

.lista-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 56px;
}

.menu-link {
    color: #FFF;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.menu-link:hover {
    color: #9b3271;
}

.divider {
    width: 1705px;
    height: 1px;
    background: #D9D9D9;
    flex-shrink: 0;
    /* display: block; */
    margin: 0 auto;
}


/* MainHeroSection*/

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.main-hero {
    background: #151819;
    height: 665px;
    padding-top: 108px;

    display: flex;
    justify-content: space-between;
}

.content-box {
    padding-left: 104px;
}

.image-box {
    padding-right: 362px;
}

.title {
    color: #FFF;
    font-size: 96px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 629px;
}

.subtitle {
    color: #FFF;
    font-size: 36px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 640px;
}

.video-section {
    background: #424445;
    padding: 184px 0;
}

.content-video-section {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    gap: 48px;
    align-items: center;
    justify-content: center;
}

.video {
    border: 8px solid #9b327180;
    border-radius: 24px;
}

.video-text-box {
    width: 908px;
}

.video-text {
    color: #FFF;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

/* CardSection*/

.card-section {
    background-color: #1D1F21;
    padding: 184px 0;
}

.content-card {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #1D1F21;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-color: #D2D2D3;
    border-radius: 24px;
    text-decoration: none;

}

.blue {
    border-top: 5px solid #1258AA;
    border-right: 31px solid #1258AA;
    border-bottom: 5px solid #1258AA;
    border-left: 5px solid #1258AA;
}

.violet {
    border-top: 5px solid #8527CF;
    border-right: 31px solid #8527CF;
    border-bottom: 5px solid #8527CF;
    border-left: 5px solid #8527CF;
}

.card-image {
    max-width: 508px;
    border-radius: 24px 0 0 24px;
}

.card-text {
    font-family: Inter;
    font-size: 45px;
    font-weight: 700;
    max-width: 288px;
    text-decoration: none;
}

.blue-text {
    color: #0E4688;
}

.violet-text {
    color: #8527CF;
}

/* Footer*/

.page-footer { 
    background-color: #9b327180;
}

.content-footer { 
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
    padding: 70px;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    font-family: Inter;
    font-size: 32px ;
    color: #FFF;

}

.fa-brands {
    color: #FFF; 
    font-size: 48px;
    margin: 0px 8px;
}

.fa-brands:hover {
    color: #9b327180;


}